.body-bg {
    background-color: #C0BDA7;
}

.body-fg {
    color: #4A4641/* darkgrey*/;
}

.banner-bg {
    background-color: #4A4641;
}

.banner-fg {
    color: #CC988E;
}

.fonts {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 5vmin;
    line-height: 1.5;
}

.banner {
    padding: 1.7vmin;
    margin: 0;
}

table {
    width: 100%;
}

.template {
    display: none;
}

button {
    font-size: 4vmin;
    padding: 1vmin;
    -webkit-border-radius: 1vmin;
    -moz-border-radius: 1vmin;
    color: black;
    background-color: #dfdced/*whiteish*/
}

.switcher {
    float:right;
}

#help {
    display: none;
}

/* The canvases used to edit timelines */
.timeline {
    width: 100%;
}

canvas {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -webkit-user-drag:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.overlay {
    position: absolute;
    color: white;
    background-color: transparent;
    pointer-events: none;
}

.timeline_container {
    width: 100%;
/*    max-height: 50%;*/
}

.spinner { /** container for a spinnable input */
    display: inline-flex;
    vertical-align: middle;
}

.spinnable { /* input inside a spinner */
    text-align: right;
}

.spinner-controls {
    min-height: 4vmin;
}

.spinner-controls > input {
    min-height: 4vmin;
    top: -0.5vmin;
    position: relative;
}

.trashcan {
    /*background-image: url("browser/images/wastebin.svg");*/
    /*    width: 5vmin;*/
    height: 4vmin;
}

.input-group-btn-vertical {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.input-group-btn-vertical > .btn {
  display: block;
  font-size: 40%;
  padding: 0;
  margin: 0;
}

/*
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}*/

