/*
lilac: #9285f1
brownish: #959070
lightgrey: #a6a6a6
darkgrey: #4a4849
whitish: #dfdced
*/
body {
    background-color: white;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 5vmin;
    color: #4a4849/* darkgrey*/;
    line-height: 1.5;
}

h1 {
    background-color: #9285f1/*lilac*/;
    color: white;
    padding: 1.7vmin;
    margin: 0;
}

table {
    width: 100%;
}

.template {
    display: none;
}

button {
    font-size: 6vmin;
    padding: 1vmin;
    -webkit-border-radius: 2vmin;
    -moz-border-radius: 2vmin;
    color: black;
    background-color: #dfdced/*whiteish*/
}

tr.state_button_row td {
    width: 25%;
}

#display-graphs {
    display: none;
}

/* The canvas used to show graphs */
#graph_canvas {
    width: 300px;
}

/* The canvas used to edit timelines */
#timeline_canvas {
    width: 300px;
}
