.datatable th,td {
    vertical-align: top;
    text-align: left;
}

.ralign {
    text-align: right;
}

.error {
    font-weight: bold;
    color: red;
}

@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8S3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

body {
    background-color: #393939;
    font-family: 'Poiret One',cursive,Helvetica,Arial,sans-serif;
    color: white;
}

.editable {
}

.fixed {
    font-style: italic;
}

.monospace {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.template {
    display:none;
}

.temperature_canvas {
    width: 100%;
    height: 100%;
}

.move.disabled {
    color: gray;
}

.add_rule {
    color: olive;
}

.add_rule:hover {
    color: yellow;
}

.active_rule {
    color: yellow;
}

#map {
    width: 200px;
    height: 200px;
    float: right;
}