@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8S3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

body {
    background-color: #393939;
    font-family: 'Poiret One',cursive,Helvetica,Arial,sans-serif;
    color: white;
}

/* In-place editable thing */
.editable {
}

tr.rule {
    vertical-align: top;
    text-align: left;
}

/* Fixed width font for e.g. temperatures */
.monospace {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

/* A template div, never shown */
.template {
    display:none;
}

/* A rule move button that is disabled e.g. by being at top or bottom of rule
 * list */
.move_rule.disabled {
    display:none;
}

/* Link to add rules */
.add_rule {
    color: olive;
}

.add_rule:hover {
    color: yellow;
}

.active_rule {
    color: yellow;
}

/* The canvas used to show graphs */
#graph_canvas {
    width: 100%;
}

/* Overlay over the temperature canvas */
#tip_canvas {
    left:-200px; 
    top:-200px;
    width: 200px;
    height: 200px;
    color: white;
    background-color: transparent;
    display: none;
    position: absolute;
}
