body {
	background-color: #062F47;
	color: #FFFFFF;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 5vmin;
	line-height: 1.5;
}

h1 {
	font-size: 8vmin;
	margin: 1vmin 0vmin;
}

table {
	width: 100%;
}

img.disabled {
	filter: grayscale(100);
}

input {
	font-family: Courier, "Courier New", Monospace;
	font-size: 5vmin;
	line-height: 1;
	text-align: right;
}

.example {
	display: inline-block;
	background-color: lightgrey;
	padding: 2px;
}

.image_button {
	height: 7vmin;
	vertical-align: middle;
}

input {
	position: relative;
	top: -0.3vmin;
	padding-top: 3vmin;
}

.dialog {
	display: none;
}
